
h1 {
    margin: 0 auto;
    text-align: center;
    color:white;
    background-color: rgb(49, 52, 55);
    padding: 10px 0px;
}
.fiveDayEl {
    margin: auto;
    width: 18%;
    margin-right: 2%;
    height: 160px;
}

h5 {
    font-size: 18px;
    padding-top: 10px;
}
h6 {
    font-size: 14px;
}
img {
    padding: 0px;
    height: 50px;
}
#uvValue {
    padding: 5px 10px;
    border-radius: 8%;
}
#cityInput {
    width: 80%;

}
.historyBtn {
    width: 100%;
    margin: 5px 0px;
}
.row {
 width: 95%;
 margin: 15px auto;
}