
h1 {
    margin: 0 auto;
    text-align: center;
    color:white;
    background-color: rgb(49, 52, 55);
    padding: 10px 0px;
}
.fiveDayEl {
    margin: auto;
    width: 18%;
    margin-right: 2%;
    height: 30%;
    padding: 5px;
}

h5 {
    font-size: 18px;
    padding-top: 10px;
}
h6 {
    font-size: 14px;
}
img {
    padding: 0px;
    size: 3em;
}
#uvValue {
    padding: 5px 10px;
    border-radius: 8%;
}
#cityInput {
    width: 80%;

}
.historyBtn {
    width: 100%;
    margin: 5px 0px;
}
.row {
 width: 95%;
 margin: 15px auto;
 height: 75%;
}
#searchButton {
    border-radius: 5px;
    color: #007BFF;
    border-color: #007BFF;
    background-color: white;
}